/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ClearFix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Web Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Fjalla+One);
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'PT Sans Narrow', sans-serif; */

/* Main Styles */
body {
  font-size: 100%;
  color: #333;
  background-color: #f1f1f2;
  font-family: 'PT Sans Narrow', sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 200%;
  margin: 2% 0;
}
h2 {
  font-size: 125%;
  margin: 2% 0;
}
ul {
  font-size: 100%;
}

/* Login */
.login {
  width: 45%;
  height: 50%;
  margin: 20% auto;
  text-align: center;
  box-sizing: border-box;
}
.login h1,
.login h2 {
  color: #333;
} 
.login-button,
.widget-link,
.expanded-widget .back {
  font-size: 100%;
  margin: 0 auto;
  padding: 1% 4%;
  background-color: #782d30;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: .5s linear all;
  outline: none; 
}
.login-button:hover {
  background-color: #A84637; 
}

/* Navigation */
header {
  position: relative;
  background-color: #3c4651;
  margin-bottom: 2%; 
}
header ul li {
  float: left;
  display: inline-block;
  padding: 1% 1%;
  color: #fff;
}
header ul li:first-child {
  border-right: 1px solid #60636f;
  cursor: pointer;
}
.menu {
  position: absolute;
  width: 30%;
  height: 94vh;
  color: #fff;
  background-color: #3c4651;
  opacity: 0;
  left: -31%;
  z-index: 100;
}
nav ul li {
  padding: 1.75% 2%;
  border-bottom: 1px solid #60636f;
}
nav ul li:first-child {
  border-top: 1px solid #60636f;
}
nav li a {
  color: #cf3434;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
nav li a:hover {
  color: #F53D3D ;
}
.team-inset {
  padding-left: 7.5%;
}
.close,
.logout {
  color: #fff;
}

/* Widget Positioning*/
.widget-list {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}
.widget-container {
  min-height: 42vh;
  width: 35%;
  background-color: #fff;
  opacity: .85;
  position: relative;
}
.widget-left {
  float: left;
  margin-left: 10%;
}
.widget-right {
  float: right;
  margin-right: 10%;
}

/* Widget Main Styles */ 
.widget-container h3,
.expanded-widget h2 {
  font-size: 150%;
  text-align: center;
  margin: 1.5% 0;
}
.widget-container h4 {
  font-size: 150%;
  text-align: center;
  margin: 1% 0;
}


/* Widget Specific Styles */
  .expanded-widget {
    height: 96vh;
    width: 98%;
    margin: 1% auto;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
    background-color: #fff;
    opacity: .85;
  }
  .expanded-widget-container {
    height: 94vh;
    width: 98%;
    margin: 0 auto;
    overflow: auto;
  }
  .expanded-widget .back {
    font-size: 80%;
    position: fixed;
    top : 3%;
    left: 3%;
    padding: 1% 2%;
  }
  .widget-link {
    font-size: 80%;
    position: absolute;
    bottom : 2%;
    text-decoration: none;
    background-color: #2d3278;
  }
  .button-left {
    left: 2%;
  }
  .button-right {
    right: 2%;    
  }

  /* Recent Result */
  .recent-result span {
    font-size: 125%;
    display: block;
    text-align: center;
  }
  .result-container {
    width: 100%;
    margin-bottom: 2%;
  }
  .homeTeam,
  .awayTeam {
    margin-top: 2%;
    width: 49%;
    text-align: center;
    overflow: auto;
  }
  .homeTeam {
    float: left;
  }
  .awayTeam {
    float: right;
  }
  .homeTeam p, 
  .awayTeam p {
    font-size: 100%;
    padding: 2% 0;
  }

  /* Team Specific Results */
  .team-result-container,
  .league-result-container {
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
  }
  .results {
    margin: 1% 0;
  }
  .results h4 {
    font-size: 125%;
  }
  .home-result,
  .away-result {
    width: 49%;
  }
  .home-result {
    float: left;
    text-align: right
  }
  .away-result {
    float: right;
    text-align: left
  }
  .team-result-container .team {
    display: inline-block;
  }
  .home-result .team {
    padding-right: 2%;
  }
  .away-result .team {
    padding-left: 2%;
  }
  .results .incidents {
    margin: 1% 0;
  }  

  /* Team Top Scorers */
  .chart .data-rep {
    background-color: #782d30;
    margin: 1% 0;
    height: 10px;
  }
  .team-top-scorers {
    padding: 1%;
  }

  /* Current League Position */
  .stats-left,
  .stats-right {
    width: 49%;
  }
  .stats-left {
    float: left;
  }
  .stats-right {
    float: right;
  }
  .stats-left table,
  .stats-right table {   
    font-size: 120%;
    margin: 0 5%;
    width: 98%;
  }
  .current-position td {
    padding: 8% 3%;
  }
  .current-position tr {
    width: 100%;
  }
  .current-position .category {
    width: 50%;
    text-align: left;
  }
  .positive {
    color: #2d784f;
  }
  .negative {
    color: #782d30;
  }

  /* League Table (expanded) */
  .league-table {
    width: 100%;
    margin: 0 auto;
  }
  .leaguefull {
    margin: auto;
    width: 55%;
  }
  .leaguefull th {
    border-bottom: 1px solid #efefef;
    padding-bottom: 1%;
  }
  .leaguefull .team-column {
    width: 18%;
  }
  .leaguefull .goal-diff {
    width: 10%;
  }  
  .league-content .team-name {
    text-align: left;
  }
  td {
    text-align: center;
    padding: 1.15% 0;
  }



/*David*/
.popupTeamSelect {
  border: 1px darkgrey solid;
  background-color: white;
  color: black;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  z-index: 100;
}

/*line-graph*/
path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

/*modal*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
