<header class="group">
  <ul>
    <li class="toggle">Welcome {{ user.displayName }}!</li>
    <li ng-model="teamName">Showing Stats for: {{ currentTeam.team }}</li>
  </ul>
</header>  
  <!-- Left menu -->
<nav class="menu">
  <ul>
    <li>SoccerDash</li>
    <li>Welcome {{ user.displayName }}!</li>
    <li>Select a Different Team</li>
    <li ng-repeat="team in teams" class="team-inset"><a href='#' ng-click="selectCurrentTeam(team)" data-team="{{ team.teampath }}">{{ team.team }}</a></li>
    <li><a href="" ng-click="hideNav()" class="close">Close Menu</a></li>
    <li><a href="#" ng-click="loginObj.$logout()" class="logout">Logout</a></li>
  </ul>
</nav>

<!-- Widgets -->

<div ng-controller="HomeController">
  <div class="widget-list group">
    <div ng-include="'/partials/minileague.html'" ng-controller="MiniLeagueCtrl" class="widget-container widget-left" id="test1">
    </div>
    <div ng-include="'/partials/recentresult.html'" ng-controller="RecentResult" class="widget-container widget-right" id="test2">
    </div>    
  </div>

  <div class="widget-list group"> 
    <div ng-include="'/partials/teamstatus.html'" ng-controller="TeamSttsCtrl" class="widget-container widget-left" id="test3">
    </div>
    <div ng-include="'/partials/teamTopScorers.html'" ng-controller="TeamTopScorersController" class="widget-container widget-right" id="test4">
    </div>
  </div>

</div>

