<h3>Current Position</h3>

<h2>{{favoriteTeam.position}}</h2>
<div class=>
		<table class ='miniLeague'>
		<thead>
			<tr>
				<th scope='col'> Played</th>
				<th scope='col'> Won </th>
				<th scope='col'> Drawn </th>
				<th scope='col'> Lost </th>
				<th scope='col'> Goals For </th>
				<th scope='col'> Goals Against </th>
				<th scope='col'> Goal Difference </th>
				<th scope='col'> Points </th>
			</tr>
		</thead>
		<tbody>
			<tr class="miniLeagueCon">
			<td> {{favoriteTeam.played}} </td>
			<td> {{favoriteTeam.won}} </td>
			<td> {{favoriteTeam.drawn}} </td>
			<td> {{favoriteTeam.lost}} </td>
			<td> {{favoriteTeam.for}} </td>
			<td> {{favoriteTeam.against}} </td>
			<td> {{favoriteTeam.differenee}} </td>
			<td> {{favoriteTeam.points}} </td>
			</tr>
		</tbody>

		</table>
	</div>
	<a href="#/league">Full Table</a>